body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: rgb(107, 128, 104);
}

.nav-link {
  color: white;
}

.dropdown {
  position: absolute;
  right: 0px;
}

th,
td {
  font-size: xx-small;
}

/* Highlight nav bar item when on page */
.active {
  background-color: rgb(166, 162, 162);
}

/* Highlight dropdown item when on page */
a.dropdown-item.hoverable.active {
  background-color: rgb(166, 162, 162);
  color: black;
}

/* Display description of page on mouse hover */
.hoverable {
  position: relative;
}

.hoverable > .hoverable__tooltip {
  display: none;
}

.hoverable:hover > .hoverable__tooltip {
  position: absolute;
  display: inline-block;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  border: 1px solid black;
  background: rgb(166, 162, 162);
  font-size: xx-small;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
